@using WebApplication.Models
@model List<WebApplication.Models.TeamMember>
@{
    ViewBag.Title = "AllTeamMember";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="Teampartial">
    @{Html.RenderPartial("_TeamPartial", Model); }
</div>

<div id="DataModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Member Dtails</h4>
            </div>
            <div class="modal-body">
                <form id="form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <input type="hidden" name="Id" id="Id">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input data-val="true"
                                   data-val-required="Email is required "
                                   type="text" id="Name" name="Name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Position">
                            Position <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Position" name="Position" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Phone">
                            Phone <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Phone" name="Phone" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">
                            Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Email" name="Email" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Details">
                            Details <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Details" name="Details" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Picture">

                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img id="Picture" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Picture">
                            Picture
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @*<input type="file" id="PicturePath" class="form-control" required="required" name="PicturePath"  accept="image/*" />*@
                            <input type="file" id="PicturePath" class="form-control file-loading loading" required="required" accept="image/*" name="PicturePath" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Cv">
                            Cv <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="file" id="CvPath" class="form-control file-loading" required="required" name="CvPath" accept=".pdf" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="ModalFooter" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" id="btncancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnSubmit" value="Submit" class="btn btn-success"></button>
                    @*<button type="submit" id="btnSave" class="btn btn btn-primary">Save</button>*@
                </div>

            </div>
        </div>
    </div>
</div>


<div id="DeleteModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Member</h4>
            </div>
            <form id="Delete " data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-8 col-sm-3 col-xs-12" for="Position">
                        Are You Sure Want To Delete ?<span class="required"></span>
                    </label>

                </div>
            </form>
            <div class="modal-footer">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" id="btncancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="Del" class="btn btn-warning btndel " data-dismiss="modal">Delete</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="pdfmodel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">View Member Details</h4>
            </div>
            <div class="modal-body">
                <iframe id="iframe" style="zoom:0.60" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Admin/js/parsley/parsley.min.js"></script>
<link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<script src="~/Scripts/fileinput.min.js"></script>
<script src="~/Scripts/Admin/JQScripts/NewTeamMember.js"></script>
<script>
    $(document).on('ready', function () {
        $("#CvPath").fileinput({
            showUpload: false,
            showCaption: true,
            showRemove: false,
            showClose: false,
            browseClass: "btn btn-primary btn-md",
            fileType: "pdf",
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            previewSettings: { image: { width: "auto", height: "160px" } }
        });
        $("#PicturePath").fileinput({
            showUpload: false,
            previewFileType: "image",
            browseClass: "btn btn-success",
            browseLabel: "Pick Image",
            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> "
        });
    });
</script>
@section links{
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(document).on("click", ".view-pdf", function (e) {
        var action = $(this).attr('data-path');
        var fileName = "/File/" + action;
        alert(fileName);
        $('#pdfmodel').on('show', function () {

            $('iframe').attr("src", fileName);
        });
        $('#pdfmodel').modal({ show: true });
    });
</script>
}