
@{
    Layout = "../Shared/_HomeIndexLayout.cshtml";
}

<div class="section st-no-padding">
    
</div> <!-- section -->
@section links{
<script src="~/Content/Home/assets/plugins/layerslider/js/greensock.js" type="text/javascript"></script>
<script src="~/Content/Home/assets/plugins/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="~/Content/Home/assets/plugins/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
}