@using WebApplication.Models
@model IEnumerable<WebApplication.Models.Project>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-title">
    <div class="title_left">
        <h4>Project</h4>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <span>
                    <button type="button" class="btn btn-success btn-sm add"><i class="fa fa-plus"></i> Add New Project</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div id="Teampartial">
    @{Html.RenderPartial("_ProjectsPartial", Model); }
</div>
<div id="DeleteModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Project</h4>
            </div>
            <form id="Delete " data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-8 col-sm-3 col-xs-12" for="Position">
                        Are You Sure Want To Delete ?<span class="required"></span>
                    </label>

                </div>
            </form>
            <div class="modal-footer">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" id="btncancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="Del" data-id="" class="btn btn-warning btndel" data-dismiss="modal">Delete</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".add", function (e) {
        $("#btnSubmit").text('Add').css("background-color", "#5cb85c").addClass("White");
        //$("#DataModal").modal("show");
        document.location = '@Url.Action("ProjectForm", "Admin")';
    });

    $(document).on("click", ".clickedit", function (e) {
        $("#btnSubmit").text('Save').css("background-color", "#337ab7").addClass("White");
        var action = $(this).attr('data-id');
        document.location = '@Url.Action("ProjectForm", "Admin")?id=' + action;
      
    });

    $(document).on("click", "#btnSubmit", function (event) {
        if (btnSubmit.textContent == "Add") {
            var form = $('#projectform')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: "/Admin/AddProject",
                type: "POST",
                async: true,
                data: dataString,
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    $("#DataModal").modal("hide");
                    $.get("/Admin/GetAllProjects", function (data2) {
                        $("#ProjectPartial").html(data2);
                    });

                },
                error: function (xhr) {
                    alert('error');
                }
            });
        }
        else {
            var form = $('#projectform')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: "/Admin/SaveProject",
                type: "POST",
                async: true,
                data: dataString,
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    $("#DataModal").modal("hide");
                    $.get("/Admin/GetAllProjects", function (data2) {
                        $("#ProjectPartial").html(data2);
                    });

                },
                error: function (xhr) {
                    alert('error');
                }
            });

        }

    });
    $(document).on("change", "#cat", function () {
       var CatId = $(this).val();
        $("subDropDown").show();
        $.ajax({
            url: '/Admin/Fill',
            type: "GET",
            dataType: "JSON",
            data: { id: CatId },
            success: function (subCategory) {
                alert(JSON.stringify(subCategory));
                $("#subDropDown").show();
                $("#subDropDown").html(""); // clear before appending new list 
                $.each(subCategory, function (i, subCategory) {
                    //$("#subDropDown").append(
                    //    $('<option></option>').val(subCategory.Id).html(subCategory.Name));
                    //alert(subCategory.Id);
                    $("#subDropDown").append('<option value="'+subCategory.Id+'">'+subCategory.Name+'</option>');
                });
                $("#subDropDown").change();
            }
        });
    });

    function Fill() {
        var CatId = $('#Cat').val();
        $("subDropDown").show();
        $.ajax({
            url: '/Admin/Fill',
            type: "GET",
            dataType: "JSON",
            data: {CatId:Id},
            success: function (subCategory) {                
                $("#subDropDown").html(""); // clear before appending new list 
                $.each(subCat, function (i, subCategory) {
                    $("#subDropDown").append(
                        $('<option></option>').val(subCategory.Id).html(subCategory.Name));
                });
            }
        });
    }

    $(document).on("click", ".btndel", function (e) {
        var action = $(this).attr('data-id');
        $.ajax({
            url: "/Admin/DeleteProject?id=" + action,
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $.get("/Admin/GetAllProjects", function (data2) {
                    $("#ProjectPartial").html(data2);
                });

            },
            error: function (xhr) {
                alert('error');
            }
        });

    });

    $(document).ready(function () {
        $(document).on("click", ".clickdelete", function (e) {
            var action = $(this).attr('data-id');
            $(".btndel").attr('data-id', action);
            $("#DeleteModel").modal("show");
        });
    });



</script>



