@using WebApplication.Models
@model IEnumerable<WebApplication.Models.Project>

    @{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }


<div class="page-title">
    <div class="title_left">
        <h4>Add New Project</h4>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <span>
                    <button type="button" class="btn btn-success btn-sm add"><i class="fa fa-plus"></i> Add New Project</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div id="Teampartial">
    @{Html.RenderPartial("_ProjectsPartial", Model); }
</div>

    <div id="DataModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Project Dtails</h4>
                </div>
                <form id="MemberView" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <input type="hidden" id="hdnIdview">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                            Name
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Nameview" name="Name" readonly="readonly" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Location">
                            Location
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Location" name="Location" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Details">
                            Details
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Details" name="Details"  class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Picture">
                            Picture
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Picture" name="Picture" readonly="readonly" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    
                </form>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" id="btncancel" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
<script>

    $(document).ready(function() {
        $("#btnAdd").click(function() {
            $('#ViewModel').Modal('show');
        });


    });
</script>