@model WebApplication.Models.Project

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 id="title">New Project </h2>
@using(Html.BeginForm(null,null,FormMethod.Post,new { enctype = "multipart/form-data"})){
    <div class="form-horizontal">
        <div class="form-group">
            @Html.HiddenFor(e => Model.Id)
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                Name
            </label>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="Name" name="Name" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Location">
                Location
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="Location" name="Location" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Area">
                Area
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="Area" name="Area" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Client">
                Client
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="Client" name="Client" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LogoPath">
                Logo
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="file" id="LogoPath" class="form-control file-loading" accept="image/*" name="LogoPath"  />
                @*<input id="LogoPath" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2">*@
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Category">
                Category
            </label>
            <div class="col-md-5 col-sm-5 col-xs-12 ">
                @*<input type="text" id="Category" name="Category" class="form-control col-md-7 col-xs-12">*@
                @Html.DropDownList("CategoryId", (SelectList) ViewBag.CategoryList,
                    "  -----Select Catrgory-----  ", new {@class = "form-control col-md-3 col-xs-12"})
              
            </div>
            <div class="col-md-1">
                <a class="btn btn-success" id="AddCat"><i class="glyphicon glyphicon-plus"></i>Add</a>
            </div>
            </div>
        <div class="form-group collapse" id="subDropDownDiv">
            <label class="control-label col-md-3 " for="SubCategory">
                Sub Category
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @*@Html.DropDownList("subCat", (SelectList)ViewBag.subCategoryList,
                "  -----Select List-----  ", new { @id = "subDropDown", @class = "form-control hidden" })*@

                <select id="SubCategoryId" name="SubCategoryId" data-val="true" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 " for="LogoPath2">
                Project Images
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="control-label">Select File</label>
                <input id="ProjectImages" name="ProjectImages" type="file" multiple class="file-loading">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
        </div>
    </div>

}

<div id="DataModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="projectform" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group collapse">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Location">
                            Location
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Location" name="Location" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                            Name
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="CatName" name="Name" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" id="btncancel" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>
</div>
@section head{
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

<link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<script src="~/Scripts/fileinput.min.js"></script>
}
<script src="~/Scripts/Admin/JQScripts/ProjectForm.js"></script>