@using WebApplication.Models
@model List<WebApplication.Models.HomeImage>
@{
    Layout = "../Shared/_BasicHomeLayout.cshtml";
}


@*<div id="header-mobile" class="visible-xs">
    <header>
        <div class="m-header-body">
            <img src="~/Images/Logo.png" class="logo" alt="Logo">
            <p class="m-site-descr">Touch Group</p>
        </div>
    </header>
</div>*@

<!-- section -->
<div class="section st-no-padding">
    <section>

        <div id="layerslider-singlework2" class="ls-fullheight ls-nobullets ls-nonav" style="width: 100%; height: 100vh;">
            @foreach (HomeImage item in Model)
            {
                <div class="ls-slide" data-title="BEAUTIFUL AND DANGEROUS Forest" data-ls="slidedelay: 5000; transition2d:5;">
                    <img src='~/Images/backgrounds/@(string.Format("{0}_L.{1}", item.PicturePath, item.Extention))' class="ls-bg" alt="background">
                    <p class="ls-l ls-mental-title" style="top:30%; left:50%;" data-ls="offsetxin:0;durationin:2000;delayin:500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">
                        @item.Title
                    </p>
                    <p class="ls-l ls-mental-desrc" style="top:40%; left:50%;" data-ls="offsetxin:0;durationin:2000;delayin:700;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">
                        @item.Description
                    </p>
                </div>
            }
            <div class="ls-mental-nav col-xs-offset-6 col-md-offset-10 col-lg-offset-10">
                <div class="ls-mental-nav-container">
                    <span class="ls-mn-counter"><em>01</em>/@Model.Count</span><a href="#" class="ls-mn-prev"></a><a href="#" class="ls-mn-next"></a>
                </div>
            </div>
        </div>

    </section>
</div><!-- wrapper -->







@section links{
    <script src="~/Content/Home/assets/plugins/layerslider/js/greensock.js" type="text/javascript"></script>
    <script src="~/Content/Home/assets/plugins/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
    <script src="~/Content/Home/assets/plugins/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
}