@{
    Layout = "~/Views/Shared/_BasicHomeLayout.cshtml";
}
<div class="sections-group text-dark">
    <div class="st-video-background2">
        <img src="/Images/backgrounds/abstraction_passage_light_black_blue_413_1366x768131088472365699405_L.jpg" />
    </div>
    <div class="Aboutsection">

        <div class="container">
            <div id="header-mobile" class="visible-xs">
                <header>
                    <div class="m-header-body">
                        <img src="~/Images/Logo.png" class="logo" alt="Logo">
                        <p class="m-site-descr">Touch Group</p>
                    </div>
                </header>
            </div>

            @RenderBody()
        </div>
    </div>
</div>

